@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
<link rel="stylesheet" href="~/css/QuibbyForget.css" asp-append-version="true" />
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap" />
</head>

<body>
      <div class="group-parent">
        <div class="rectangle-parent">
          <div class="group-child"></div>
          <div class="group-item"></div>
          <div class="what-do-you">what do you want to ask</div>
          <img class="group-inner" alt="" src="./public/ellipse-6@2x.png" />

          <div class="line-div"></div>
          <div class="submit-wrapper">
            <div class="submit">Submit</div>
          </div>
        </div>
        <div class="rectangle-group">
          <div class="rectangle-div"></div>
          <img
            class="rectangle-icon"
            alt=""
            src="./public/rectangle-76@2x.png"
          />

          <div class="group-child1"></div>
          <img class="group-inner" alt="" src="./public/ellipse-7@2x.png" />

          <div class="lisa-morrison-parent">
            <div class="lisa-morrison">Lisa Morrison</div>
            <div class="pm">10/11/2023 | 10:03pm</div>
          </div>
          <div class="mohammed-aziz-owns">
            Mohammed Aziz owns his bookstore in Rabat's medina since 1967. He
            has over 4,000 books some of which he meticulously displays outside
            everyday. He has read every single book, wether they're in Arabic,
            French, English or Spanish. Do NOT ignore unexplained weight loss. I
            have had more than one patient be very happy about their weight
            loss. They were overweight
          </div>
          <img class="group-icon" alt="" src="./public/group-178.svg" />

          <div class="frame-parent">
            <div class="vector-parent">
              <img class="vector-icon" alt="" src="./public/vector.svg" />

              <div class="up">Up</div>
            </div>
            <div class="vector-group">
              <img class="vector-icon" alt="" src="./public/vector.svg" />

              <div class="up">Down</div>
            </div>
            <div class="message-2-wrapper">
              <img class="message-2-icon" alt="" src="./public/vector.svg" />
            </div>
            <div class="send-2-parent">
              <img class="message-2-icon" alt="" src="./public/vector.svg" />

              <div class="up">Share</div>
            </div>
            <div class="group-child2"></div>
          </div>
          <div class="see-image-after-container">
            See Image after
            <span class="login">Login</span>
          </div>
        </div>
        <div class="login-wrapper">
          <div class="login1">Login</div>
        </div>
        <div class="register">Register</div>
        <div class="group-container">
          <div class="group-div">
            <div class="rectangle-container">
              <div class="group-child3"></div>
              <div class="group-parent1">
                <div class="books-parent">
                  <div class="books">Books</div>
                  <img
                    class="book-saved-icon"
                    alt=""
                    src="./public/booksaved.svg"
                  />
                </div>
                <div class="visiting-travel-parent">
                  <div class="books">Visiting Travel</div>
                  <img class="global-icon" alt="" src="./public/global.svg" />
                </div>
                <div class="business-parent">
                  <div class="books">Business</div>
                  <img
                    class="status-up-icon"
                    alt=""
                    src="./public/statusup.svg"
                  />
                </div>
                <div class="health-parent">
                  <div class="books">Health</div>
                  <img
                    class="heart-add-icon"
                    alt=""
                    src="./public/heartadd.svg"
                  />
                </div>
                <div class="technology-parent">
                  <div class="books">Technology</div>
                  <img class="monitor-icon" alt="" src="./public/monitor.svg" />
                </div>
                <div class="science-parent">
                  <div class="books">Science</div>
                  <img
                    class="microscope-icon"
                    alt=""
                    src="./public/microscope.svg"
                  />
                </div>
              </div>
            </div>
            <div class="topics">Topics</div>
          </div>
          <div class="group-parent2">
            <div class="rectangle-parent1">
              <div class="group-child4"></div>
              <div class="communities-parent">
                <div class="books">Communities</div>
                <img class="people-icon" alt="" src="./public/people.svg" />
              </div>
              <div class="topics-parent">
                <div class="books">Topics</div>
                <img
                  class="message-text-icon"
                  alt=""
                  src="./public/vector.svg"
                />
              </div>
              <div class="content-policy-parent">
                <div class="books">Content Policy</div>
                <img class="note-icon" alt="" src="./public/note.svg" />
              </div>
              <div class="private-policy-parent">
                <div class="books">Private Policy</div>
                <img class="bill-icon" alt="" src="./public/bill.svg" />
              </div>
              <div class="group-child5"></div>
            </div>
            <div class="topics">Resources</div>
          </div>
        </div>
        <div class="header">
          <div class="header-child"></div>
          <img class="header-item" alt="" src="./public/group-146.svg" />

          <div class="popular-parent">
            <div class="popular">Popular</div>
            <img class="ranking-icon" alt="" src="./public/ranking.svg" />
          </div>
          <div class="home-parent">
            <div class="home">Home</div>
            <img class="home-icon" alt="" src="./public/home.svg" />
          </div>
          <div class="all-parent">
            <div class="home">All</div>
            <img class="chart-icon" alt="" src="./public/chart.svg" />
          </div>
          <div class="rectangle-parent2">
            <div class="group-child6"></div>
            <div class="search-quibby-parent">
              <div class="search-quibby">Search Quibby</div>
              <img
                class="search-normal-icon"
                alt=""
                src="./public/searchnormal.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="quiby-forgot-child"></div>
      <img class="quiby-forgot-item" alt="" src="~/public/group-1.svg" />
      <form method="post">
      <div class="rectangle-parent3">
        <div class="group-child7"></div>
        <div class="rectangle-parent4">
          <div class="group-child8"></div>
          <div class="back-to-login-container">
            <span class="back-to">Back to </span>
            <span class="login2"><a  asp-page="./Login">Login</a></span>
          </div>
        </div>
         
        <div class="group-parent3">
          <div class="rectangle-parent5">
            <button  type="submit" class="group-child9">Send Code</button>
          </div>
        
          <div class="rectangle-parent6">   
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Email" class="group-inner" autocomplete="username" aria-required="true" placeholder="name@example.com" />                        
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <img class="sms-icon" alt="" src="~/public/sms.svg" />
          </div>
        </form>
         
          <div class="forgot-password-parent">
            <div class="forgot-password">Forgot Password?</div>
            <div class="enter-your-email">
              Enter your email address or username and we’ll send you a link to
              reset your password
            </div>
          </div>
        </div>
        <img class="fpdl-1-icon" alt="" src="~/public/[fpdl 1.png" />
      </div>
    </div>
    @section Scripts {
      <partial name="_ValidationScriptsPartial" />
  }
  </body>
</html>
