/* .home-parent {
    position: absolute;
    top: 25px;
    left: 445px;
    width: 71px;
    height: 20px;
    color: var(--color-gray-100);
  } */
.header-child {
    top: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
    width: 100%;
    height: 70px;
  }
  .all-parent {
    display: flex;
    gap: 2px;
    align-items: center;
    top: 25px;
    left: 648px;
    width: 46px;
    height: 20px;
    color: var(--color-gray-100);
  }
  a.all-parent {
    text-decoration: none;
   color: black;
    /* Add other styles as needed */
  }
  .popular-parent {
    display: flex;
    gap: 2px;
    top: 25px;
    left: 540px;
    width: 84px;
    height: 20px;
  }
  a.popular-parent {
    text-decoration: none;
   color: black;
    /* Add other styles as needed */
  }
  .header-item {
    /* position: absolute; */
    height: 44.19%;
    width: 6.18%;
    top: 28.57%;
    right: 82.71%;
    bottom: 27.24%;
    left: 11.11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .popular,
  .ranking-icon {
    /* position: absolute; */
    top: 0;
    left: 28px;
  }
  .line-div {
    /* position: absolute; */
    top: 96.5px;
    left: 20.5px;
    border-top: 1px solid #f0f0f0;
    box-sizing: border-box;
    width: 511px;
    height: 1px;
  }
  .ranking-icon {
    height: 100%;
    width: 23.81%;
    right: 76.19%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  /* .popular-parent {
    position: absolute;
    top: 25px;
    left: 540px;
    width: 84px;
    height: 20px;
  } */
  a.popular-parent {
    text-decoration: none;
   color: black;
    /* Add other styles as needed */
  }
  /* .home,
  .home-icon {
    position: absolute;
    top: 0;
  } */

  .home {
    left: 28px;
    font-weight: 300;
  }
  a.home {
    text-decoration: none;
   color: black;
    /* Add other styles as needed */
  }
  .home-icon {
    height: 100%;
    width: 28.17%;
    right: 71.83%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .home-parent {
  display: flex;
  gap: 2px;
    top: 25px;
    left: 445px;
    width: 71px;
    height: 20px;
    color: var(--color-gray-100);
  }
  .chart-icon {
    /* position: absolute; */
    height: 100%;
    width: 43.48%;
    top: 0;
    right: 56.52%;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }