
.vector-icon,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 0.04%;
  width: 0.56%;
  top: 76.06%;
  right: 35%;
  bottom: 23.89%;
  left: 64.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1,
.vector-icon2 {
  height: 6.06%;
  width: 4.12%;
  top: 35.52%;
  right: 5.74%;
  bottom: 58.42%;
  left: 90.14%;
}
.vector-icon2 {
  height: 6.07%;
  width: 4.14%;
  top: 58.58%;
  right: 30.71%;
  bottom: 35.36%;
  left: 65.14%;
}
.quiby-register-item,
.vector-icon3,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  position: absolute;
  height: 9.81%;
  width: 6.63%;
  top: 17.95%;
  right: 33.15%;
  bottom: 72.24%;
  left: 60.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.quiby-register-item,
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 4.3%;
  width: 2.13%;
  top: 21.04%;
  right: 7.26%;
  bottom: 74.67%;
  left: 90.61%;
}
.vector-icon4,
.vector-icon5,
.vector-icon6 {
  height: 6.13%;
  width: 4.51%;
  top: 21.22%;
  right: 13.94%;
  bottom: 72.65%;
  left: 81.55%;
}
.vector-icon5,
.vector-icon6 {
  height: 6.3%;
  width: 4.59%;
  top: 21.13%;
  right: 13.9%;
  bottom: 72.57%;
  left: 81.51%;
}
.vector-icon6 {
  height: 4.57%;
  width: 3.36%;
  top: 24.2%;
  right: 26.07%;
  bottom: 71.24%;
  left: 70.58%;
}
.freepik-path-inject-129-icon,
.vector-icon7,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 4.7%;
  width: 3.42%;
  top: 24.13%;
  right: 26.04%;
  bottom: 71.17%;
  left: 70.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.freepik-path-inject-129-icon,
.vector-icon8,
.vector-icon9 {
  height: 6.29%;
  width: 4.59%;
  top: 43.65%;
  right: 7.32%;
  bottom: 50.06%;
  left: 88.09%;
}
.freepik-path-inject-129-icon,
.vector-icon9 {
  height: 6.85%;
  width: 4.99%;
  top: 40.35%;
  right: 34.24%;
  bottom: 52.8%;
  left: 60.77%;
}
.freepik-path-inject-129-icon {
  height: 4.06%;
  width: 34.47%;
  top: 78.48%;
  right: 5.4%;
  bottom: 17.45%;
  left: 60.13%;
}
.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 37.06%;
  width: 18.35%;
  top: 29.19%;
  right: 13.55%;
  bottom: 33.74%;
  left: 68.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11,
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  opacity: 0.2;
}
.vector-icon12,
.vector-icon13,
.vector-icon14 {
  height: 3.73%;
  width: 2.01%;
  top: 30.43%;
  right: 20.42%;
  bottom: 65.84%;
  left: 77.58%;
  opacity: 0.7;
}
.vector-icon13,
.vector-icon14 {
  height: 16.29%;
  width: 6.75%;
  top: 48.26%;
  right: 16.97%;
  bottom: 35.45%;
  left: 76.28%;
}
.vector-icon14 {
  height: 1.69%;
  width: 2.86%;
  top: 44.94%;
  right: 21.34%;
  bottom: 53.38%;
  left: 75.8%;
}
.vector-icon15,
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 0.25%;
  width: 0.33%;
  top: 46.38%;
  right: 22.96%;
  bottom: 53.38%;
  left: 76.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.7;
}
.vector-icon16,
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 7.88%;
  width: 4.27%;
  top: 30.53%;
  right: 15.62%;
  bottom: 61.6%;
  left: 80.11%;
}
.vector-icon17,
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 11.07%;
  width: 2.06%;
  top: 37.18%;
  right: 13.77%;
  bottom: 51.74%;
  left: 84.18%;
}
.vector-icon18,
.vector-icon19,
.vector-icon20 {
  height: 0.73%;
  width: 0.38%;
  top: 32.3%;
  right: 19.35%;
  bottom: 66.97%;
  left: 80.27%;
}
.vector-icon19,
.vector-icon20 {
  height: 1.77%;
  width: 1.02%;
  top: 33.27%;
  right: 17.3%;
  bottom: 64.95%;
  left: 81.68%;
}
.vector-icon20 {
  height: 19.93%;
  width: 7.65%;
  top: 30.36%;
  right: 20.36%;
  bottom: 49.71%;
  left: 71.99%;
}
.vector-icon21 {
  height: 5.95%;
  width: 0.8%;
  top: 47.54%;
  right: 30.83%;
  bottom: 46.51%;
  left: 68.37%;
  opacity: 0.8;
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24,
.vector-icon25 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  height: 1.96%;
  width: 0.7%;
  top: 50.39%;
  right: 15.2%;
  bottom: 47.65%;
  left: 84.1%;
  opacity: 0.5;
}
.vector-icon23,
.vector-icon24,
.vector-icon25 {
  height: 4.18%;
  width: 3.11%;
  top: 51.26%;
  right: 12.4%;
  bottom: 44.56%;
  left: 84.49%;
}
.vector-icon24,
.vector-icon25 {
  height: 13.41%;
  width: 6.64%;
  top: 50.67%;
  right: 5.93%;
  bottom: 35.92%;
  left: 87.43%;
}
.vector-icon25 {
  opacity: 0.2;
}
.vector-icon26 {
  height: 3.72%;
  width: 1.8%;
  top: 56.2%;
  right: 8.47%;
  bottom: 40.08%;
  left: 89.73%;
}
.vector-icon26,
.vector-icon27,
.vector-icon28 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon27 {
  height: 0.99%;
  width: 0.87%;
  top: 56.19%;
  right: 8.74%;
  bottom: 42.82%;
  left: 90.4%;
  opacity: 0.1;
}
.vector-icon28 {
  height: 4.29%;
  width: 1.75%;
  top: 52.64%;
  right: 8.25%;
  bottom: 43.07%;
  left: 89.99%;
}
.vector-icon29 {
  height: 1.15%;
  width: 0.57%;
  top: 54.59%;
  right: 8.69%;
  bottom: 44.26%;
  left: 90.74%;
  opacity: 0.2;
}
.vector-icon29,
.vector-icon30,
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon30 {
  height: 1.13%;
  width: 0.31%;
  top: 54.3%;
  right: 9.7%;
  bottom: 44.57%;
  left: 89.99%;
  opacity: 0.2;
}
.vector-icon31,
.vector-icon32,
.vector-icon33 {
  height: 0.33%;
  width: 0.11%;
  top: 54.4%;
  right: 9.13%;
  bottom: 45.27%;
  left: 90.76%;
}
.vector-icon32,
.vector-icon33 {
  height: 0.32%;
  top: 54.14%;
  right: 9.62%;
  bottom: 45.54%;
  left: 90.26%;
}
.vector-icon33 {
  height: 0.14%;
  width: 0.1%;
  top: 54.03%;
  right: 9.65%;
  bottom: 45.83%;
}
.vector-icon34,
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  position: absolute;
  height: 0.63%;
  width: 0.23%;
  top: 54.51%;
  right: 9.57%;
  bottom: 44.86%;
  left: 90.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon35,
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  height: 0.22%;
  width: 0.36%;
  top: 55.43%;
  right: 9.22%;
  bottom: 44.35%;
  left: 90.42%;
}
.vector-icon36,
.vector-icon37,
.vector-icon38 {
  height: 0.41%;
  width: 0.29%;
  top: 53.74%;
  right: 8.98%;
  bottom: 45.85%;
  left: 90.73%;
}
.vector-icon37,
.vector-icon38 {
  height: 0.16%;
  width: 0.27%;
  top: 53.57%;
  right: 9.55%;
  bottom: 46.26%;
  left: 90.18%;
}
.vector-icon38 {
  height: 0.14%;
  width: 0.1%;
  top: 54.31%;
  right: 9.15%;
  bottom: 45.56%;
  left: 90.75%;
}
.vector-icon39,
.vector-icon40,
.vector-icon41,
.vector-icon42,
.vector-icon43 {
  position: absolute;
  height: 6.78%;
  width: 3.04%;
  top: 50.71%;
  right: 6.75%;
  bottom: 42.51%;
  left: 90.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40,
.vector-icon41,
.vector-icon42,
.vector-icon43 {
  height: 0.96%;
  width: 0.47%;
  top: 54.96%;
  right: 8.28%;
  bottom: 44.09%;
  left: 91.26%;
}
.vector-icon41,
.vector-icon42,
.vector-icon43 {
  height: 1.85%;
  width: 0.51%;
  top: 54.98%;
  right: 8.47%;
  bottom: 43.18%;
  left: 91.02%;
}
.vector-icon42,
.vector-icon43 {
  height: 2.14%;
  width: 0.89%;
  top: 52.58%;
  right: 9.44%;
  bottom: 45.28%;
  left: 89.67%;
}
.vector-icon43 {
  height: 6.68%;
  width: 0.75%;
  top: 54.24%;
  right: 12.39%;
  bottom: 39.08%;
  left: 86.86%;
}
.vector-icon44,
.vector-icon45 {
  height: 5.1%;
  width: 2.98%;
  top: 56.81%;
  right: 10.28%;
  bottom: 38.1%;
  left: 86.74%;
}
.vector-icon44 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon45 {
  opacity: 0.4;
}
.group-icon1,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon46 {
  height: 3.24%;
  width: 0.69%;
  top: 57.99%;
  right: 10.86%;
  bottom: 38.76%;
  left: 88.45%;
  opacity: 0.1;
}
.group-icon1,
.vector-icon47 {
  height: 7.39%;
  width: 3.71%;
  top: 56.83%;
  right: 7.7%;
  bottom: 35.78%;
  left: 88.59%;
}
.group-icon1 {
  opacity: 0.4;
}
.group-icon2 {
  height: 2.8%;
  width: 2.82%;
  top: 56.79%;
  right: 7.7%;
  bottom: 40.41%;
  left: 89.48%;
  opacity: 0.9;
}
.group-icon2,
.group-icon3,
.vector-icon48,
.vector-icon49 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon48 {
  height: 3.78%;
  width: 1.08%;
  top: 60.44%;
  right: 8%;
  bottom: 35.78%;
  left: 90.91%;
  opacity: 0.1;
}
.group-icon3,
.vector-icon49 {
  height: 4.91%;
  width: 1.51%;
  top: 59.15%;
  right: 7.46%;
  bottom: 35.94%;
  left: 91.03%;
}
.group-icon3 {
  opacity: 0.4;
}
.vector-icon50,
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  position: absolute;
  height: 1.34%;
  width: 0.73%;
  top: 57.88%;
  right: 9.05%;
  bottom: 40.78%;
  left: 90.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51,
.vector-icon52,
.vector-icon53 {
  height: 2.34%;
  width: 0.7%;
  top: 56.79%;
  right: 9.75%;
  bottom: 40.87%;
  left: 89.55%;
}
.vector-icon52,
.vector-icon53 {
  height: 0.46%;
  width: 1.98%;
  top: 59.01%;
  right: 7.72%;
  bottom: 40.53%;
  left: 90.31%;
}
.vector-icon53 {
  height: 1.56%;
  width: 1.13%;
  top: 58.89%;
  right: 9.24%;
  bottom: 39.55%;
  left: 89.63%;
}
.vector-icon54,
.vector-icon55,
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  position: absolute;
  height: 1.7%;
  width: 0.53%;
  top: 59.3%;
  right: 9.75%;
  bottom: 39%;
  left: 89.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon55,
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  height: 9.83%;
  width: 4.87%;
  top: 26.07%;
  right: 8.39%;
  bottom: 64.1%;
  left: 86.74%;
}
.vector-icon56,
.vector-icon57,
.vector-icon58 {
  height: 6.84%;
  width: 5.74%;
  top: 30.74%;
  right: 10.54%;
  bottom: 62.41%;
  left: 83.72%;
}
.vector-icon57,
.vector-icon58 {
  height: 2.93%;
  width: 1.1%;
  top: 32.96%;
  right: 10.96%;
  bottom: 64.11%;
  left: 87.94%;
}
.vector-icon58 {
  height: 2.23%;
  width: 0.77%;
  top: 31.37%;
  right: 11.37%;
  bottom: 66.39%;
  left: 87.86%;
}
.vector-icon59 {
  height: 6.35%;
  width: 3.26%;
  top: 29.55%;
  right: 8.63%;
  bottom: 64.1%;
  left: 88.1%;
}
.vector-icon59,
.vector-icon60,
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon60 {
  height: 6.35%;
  width: 3.26%;
  top: 29.55%;
  right: 8.63%;
  bottom: 64.1%;
  left: 88.1%;
  opacity: 0.5;
}
.vector-icon61,
.vector-icon62,
.vector-icon63 {
  height: 2.76%;
  width: 1.14%;
  top: 29.62%;
  right: 10.47%;
  bottom: 67.62%;
  left: 88.39%;
}
.vector-icon62,
.vector-icon63 {
  height: 2.92%;
  width: 0.9%;
  top: 28.58%;
  right: 10.61%;
  bottom: 68.5%;
  left: 88.49%;
}
.vector-icon63 {
  height: 1.87%;
  width: 0.59%;
  top: 28.68%;
  right: 11%;
  bottom: 69.45%;
  left: 88.41%;
  opacity: 0.2;
}
.vector-icon64,
.vector-icon65,
.vector-icon66,
.vector-icon67 {
  position: absolute;
  height: 3.33%;
  width: 1.39%;
  top: 26.7%;
  right: 10.8%;
  bottom: 69.97%;
  left: 87.82%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon65,
.vector-icon66,
.vector-icon67 {
  height: 0.27%;
  width: 0.09%;
  top: 27.9%;
  right: 11.6%;
  bottom: 71.83%;
  left: 88.31%;
}
.vector-icon66,
.vector-icon67 {
  top: 28.19%;
  right: 11.98%;
  bottom: 71.54%;
  left: 87.94%;
}
.vector-icon67 {
  height: 0.2%;
  width: 0.21%;
  top: 27.55%;
  right: 11.52%;
  bottom: 72.25%;
  left: 88.27%;
}
.vector-icon68,
.vector-icon69,
.vector-icon70,
.vector-icon71,
.vector-icon72 {
  position: absolute;
  height: 0.35%;
  width: 0.16%;
  top: 27.76%;
  right: 12.09%;
  bottom: 71.88%;
  left: 87.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon69,
.vector-icon70,
.vector-icon71,
.vector-icon72 {
  height: 0.63%;
  width: 0.15%;
  top: 28.39%;
  right: 11.86%;
  bottom: 70.98%;
  left: 87.99%;
}
.vector-icon70,
.vector-icon71,
.vector-icon72 {
  height: 0.77%;
  width: 0.5%;
  top: 28.69%;
  right: 11.38%;
  bottom: 70.53%;
  left: 88.12%;
}
.vector-icon71,
.vector-icon72 {
  height: 0.38%;
  width: 0.32%;
  top: 29.09%;
  right: 11.43%;
  bottom: 70.54%;
  left: 88.25%;
}
.vector-icon72 {
  height: 0.59%;
  width: 0.47%;
  top: 28.71%;
  right: 11.4%;
  bottom: 70.7%;
  left: 88.14%;
}
.vector-icon73 {
  height: 1.79%;
  width: 1.43%;
  top: 25.79%;
  right: 10.92%;
  bottom: 72.42%;
  left: 87.65%;
}
.vector-icon73,
.vector-icon74,
.vector-icon75 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon74 {
  height: 1.29%;
  width: 0.46%;
  top: 27%;
  right: 10.88%;
  bottom: 71.7%;
  left: 88.66%;
  opacity: 0.2;
}
.vector-icon75 {
  height: 6.36%;
  width: 2.31%;
  top: 24.88%;
  right: 8.07%;
  bottom: 68.76%;
  left: 89.62%;
}
.vector-icon76,
.vector-icon77,
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  position: absolute;
  height: 2.42%;
  width: 1.35%;
  top: 28.87%;
  right: 9.03%;
  bottom: 68.71%;
  left: 89.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon77,
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  height: 0.87%;
  width: 0.3%;
  top: 27.63%;
  right: 10.75%;
  bottom: 71.5%;
  left: 88.96%;
}
.vector-icon78,
.vector-icon79,
.vector-icon80 {
  height: 1.15%;
  width: 0.55%;
  top: 24.27%;
  right: 8.52%;
  bottom: 74.57%;
  left: 90.92%;
}
.vector-icon79,
.vector-icon80 {
  height: 1.29%;
  width: 0.5%;
  top: 23.57%;
  right: 8.64%;
  bottom: 75.14%;
  left: 90.86%;
}
.vector-icon80 {
  height: 6.12%;
  width: 0.18%;
  top: 24.96%;
  right: 22.65%;
  bottom: 68.92%;
  left: 77.17%;
}
.vector-icon81,
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  position: absolute;
  height: 9.87%;
  width: 4.89%;
  top: 17.74%;
  right: 20.32%;
  bottom: 72.39%;
  left: 74.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon82,
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  height: 4.97%;
  width: 1.82%;
  top: 22.29%;
  right: 22.92%;
  bottom: 72.74%;
  left: 75.27%;
}
.vector-icon83,
.vector-icon84,
.vector-icon85 {
  height: 0.2%;
  width: 0.22%;
  top: 26.94%;
  right: 23.6%;
  bottom: 72.87%;
  left: 76.18%;
}
.vector-icon84,
.vector-icon85 {
  height: 4.97%;
  width: 1.82%;
  top: 22.29%;
  right: 22.92%;
  bottom: 72.74%;
  left: 75.27%;
  opacity: 0.4;
}
.vector-icon85 {
  height: 0.2%;
  width: 0.22%;
  top: 26.94%;
  right: 23.6%;
  bottom: 72.87%;
  left: 76.18%;
}
.vector-icon86,
.vector-icon87,
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  position: absolute;
  height: 1.05%;
  width: 0.43%;
  top: 23.55%;
  right: 24.5%;
  bottom: 75.4%;
  left: 75.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon87,
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  height: 1.14%;
  width: 0.51%;
  top: 22.74%;
  bottom: 76.12%;
  left: 74.99%;
}
.vector-icon88,
.vector-icon89,
.vector-icon90 {
  height: 6.15%;
  width: 2.24%;
  top: 21.21%;
  right: 21.28%;
  bottom: 72.64%;
  left: 76.47%;
}
.vector-icon89,
.vector-icon90 {
  height: 0.25%;
  width: 0.12%;
  top: 23.6%;
  right: 22.71%;
  bottom: 76.14%;
  left: 77.16%;
  opacity: 0.4;
}
.vector-icon90 {
  height: 0.24%;
  top: 24.92%;
  right: 22.53%;
  bottom: 74.84%;
  left: 77.35%;
}
.vector-icon91 {
  height: 2.3%;
  width: 1.35%;
  top: 21.3%;
  right: 21.85%;
  bottom: 76.4%;
  left: 76.79%;
}
.group-icon5,
.vector-icon91,
.vector-icon92,
.vector-icon93,
.vector-icon94 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon5 {
  height: 2.3%;
  width: 1.35%;
  top: 21.3%;
  right: 21.85%;
  bottom: 76.4%;
  left: 76.79%;
  opacity: 0.3;
}
.vector-icon92,
.vector-icon93,
.vector-icon94 {
  height: 4.68%;
  width: 2.27%;
  top: 17.84%;
  right: 21.93%;
  bottom: 77.48%;
  left: 75.79%;
}
.vector-icon93,
.vector-icon94 {
  height: 2.84%;
  width: 0.69%;
  top: 20.03%;
  right: 22.3%;
  bottom: 77.14%;
  left: 77.01%;
}
.vector-icon94 {
  height: 1%;
  width: 0.2%;
  top: 20.58%;
  right: 22.78%;
  bottom: 78.43%;
  opacity: 0.2;
}
.vector-icon95,
.vector-icon96,
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  position: absolute;
  height: 3.26%;
  width: 1.25%;
  top: 18.28%;
  right: 22.66%;
  bottom: 78.46%;
  left: 76.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon96,
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  height: 0.21%;
  width: 0.14%;
  top: 20.06%;
  right: 23.68%;
  bottom: 79.74%;
  left: 76.18%;
}
.vector-icon97,
.vector-icon98,
.vector-icon99 {
  height: 0.24%;
  width: 0.09%;
  top: 19.7%;
  right: 23.31%;
  bottom: 80.06%;
  left: 76.6%;
}
.vector-icon98,
.vector-icon99 {
  height: 0.04%;
  top: 19.71%;
  right: 23.36%;
  bottom: 80.25%;
  left: 76.55%;
}
.vector-icon99 {
  height: 0.51%;
  width: 0.12%;
  top: 20.15%;
  right: 23.5%;
  bottom: 79.34%;
  left: 76.38%;
}
.vector-icon100,
.vector-icon101,
.vector-icon102,
.vector-icon103,
.vector-icon104 {
  position: absolute;
  height: 0.41%;
  width: 0.2%;
  top: 20.42%;
  right: 23.19%;
  bottom: 79.17%;
  left: 76.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon101,
.vector-icon102,
.vector-icon103,
.vector-icon104 {
  height: 1.16%;
  width: 0.35%;
  top: 18.37%;
  right: 23.78%;
  bottom: 80.47%;
  left: 75.87%;
}
.vector-icon102,
.vector-icon103,
.vector-icon104 {
  height: 0.15%;
  width: 0.25%;
  top: 19.27%;
  right: 23.35%;
  bottom: 80.58%;
  left: 76.4%;
}
.vector-icon103,
.vector-icon104 {
  height: 0.3%;
  width: 0.16%;
  top: 19.6%;
  right: 23.8%;
  bottom: 80.09%;
  left: 76.04%;
}
.vector-icon104 {
  height: 1.7%;
  width: 1.27%;
  top: 18.05%;
  right: 22.59%;
  bottom: 80.25%;
  left: 76.13%;
}
.vector-icon105 {
  height: 0.85%;
  width: 1.35%;
  top: 18.36%;
  right: 22.47%;
  bottom: 80.8%;
  left: 76.18%;
}
.group-icon6,
.vector-icon105,
.vector-icon106,
.vector-icon107,
.vector-icon108 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon106 {
  height: 0.85%;
  width: 1.35%;
  top: 18.36%;
  right: 22.47%;
  bottom: 80.8%;
  left: 76.18%;
  opacity: 0.1;
}
.group-icon6,
.vector-icon107,
.vector-icon108 {
  height: 0.8%;
  width: 0.29%;
  top: 19.38%;
  right: 22.56%;
  bottom: 79.81%;
  left: 77.15%;
}
.group-icon6,
.vector-icon108 {
  width: 1.42%;
  top: 26.82%;
  right: 21.45%;
  bottom: 72.38%;
  left: 77.14%;
}
.group-icon6 {
  opacity: 0.4;
}
.vector-icon109,
.vector-icon110 {
  height: 4.34%;
  width: 1.69%;
  top: 20.69%;
  right: 20.92%;
  bottom: 74.97%;
  left: 77.39%;
}
.vector-icon109 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon110 {
  opacity: 0.4;
}
.group-icon7,
.vector-icon110,
.vector-icon111,
.vector-icon112,
.vector-icon113 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon7 {
  height: 1.2%;
  width: 0.15%;
  top: 19.4%;
  right: 22.65%;
  bottom: 79.4%;
  left: 77.2%;
  opacity: 0.2;
}
.vector-icon111,
.vector-icon112,
.vector-icon113 {
  height: 1.12%;
  width: 0.45%;
  top: 19.78%;
  right: 22.29%;
  bottom: 79.1%;
  left: 77.26%;
}
.vector-icon112,
.vector-icon113 {
  height: 0.82%;
  width: 0.44%;
  top: 19.13%;
  right: 22.33%;
  bottom: 80.05%;
  left: 77.23%;
}
.vector-icon113 {
  height: 3.24%;
  width: 2.65%;
  top: 34.27%;
  right: 30.31%;
  bottom: 62.5%;
  left: 67.04%;
}
.vector-icon114,
.vector-icon115,
.vector-icon116,
.vector-icon117,
.vector-icon118 {
  position: absolute;
  height: 13.42%;
  width: 6.64%;
  top: 25.11%;
  right: 32.18%;
  bottom: 61.48%;
  left: 61.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon115,
.vector-icon116,
.vector-icon117,
.vector-icon118 {
  height: 2.49%;
  width: 0.74%;
  top: 26.48%;
  right: 30.66%;
  bottom: 71.04%;
  left: 68.6%;
}
.vector-icon116,
.vector-icon117,
.vector-icon118 {
  height: 2.93%;
  width: 2.92%;
  top: 31.83%;
  right: 31.49%;
  bottom: 65.24%;
  left: 65.58%;
}
.vector-icon117,
.vector-icon118 {
  height: 2.03%;
  width: 1.43%;
  top: 32.71%;
  right: 32.31%;
  bottom: 65.26%;
  left: 66.25%;
  opacity: 0.2;
}
.vector-icon118 {
  height: 1.89%;
  width: 1.01%;
  top: 32.53%;
  right: 31.68%;
  bottom: 65.58%;
  left: 67.31%;
}
.vector-icon119,
.vector-icon120,
.vector-icon121,
.vector-icon122 {
  position: absolute;
  height: 6.27%;
  width: 1.62%;
  top: 28.55%;
  right: 30.83%;
  bottom: 65.18%;
  left: 67.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon120,
.vector-icon121,
.vector-icon122 {
  height: 7.96%;
  width: 4.02%;
  top: 30.57%;
  right: 33.68%;
  bottom: 61.48%;
  left: 62.3%;
}
.vector-icon121,
.vector-icon122 {
  height: 4.37%;
  width: 2.8%;
  top: 29.46%;
  right: 33.92%;
  bottom: 66.17%;
  left: 63.28%;
}
.vector-icon122 {
  opacity: 0.5;
}
.vector-icon123 {
  height: 4.5%;
  width: 1.25%;
  top: 28.76%;
  right: 34.87%;
  bottom: 66.74%;
  left: 63.88%;
}
.vector-icon123,
.vector-icon124,
.vector-icon125,
.vector-icon126 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon124 {
  height: 1.38%;
  width: 0.55%;
  top: 29.21%;
  right: 34.87%;
  bottom: 69.42%;
  left: 64.58%;
  opacity: 0.2;
}
.vector-icon125,
.vector-icon126 {
  height: 4.33%;
  width: 1.62%;
  top: 25.95%;
  right: 34.1%;
  bottom: 69.72%;
  left: 64.29%;
}
.vector-icon126 {
  height: 2.37%;
  width: 0.52%;
  top: 26.06%;
  right: 35.25%;
  bottom: 71.57%;
  left: 64.23%;
}
.vector-icon127,
.vector-icon128,
.vector-icon129,
.vector-icon130,
.vector-icon131 {
  position: absolute;
  height: 1.31%;
  width: 0.45%;
  top: 27.41%;
  right: 35.47%;
  bottom: 71.28%;
  left: 64.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon128,
.vector-icon129,
.vector-icon130,
.vector-icon131 {
  height: 0.31%;
  width: 0.11%;
  top: 27.7%;
  right: 34.83%;
  bottom: 71.99%;
  left: 65.06%;
}
.vector-icon129,
.vector-icon130,
.vector-icon131 {
  top: 28.01%;
  right: 34.24%;
  bottom: 71.69%;
  left: 65.65%;
}
.vector-icon130,
.vector-icon131 {
  height: 0.88%;
  width: 0.22%;
  top: 28.15%;
  right: 34.36%;
  bottom: 70.97%;
  left: 65.43%;
}
.vector-icon131 {
  height: 0.33%;
  width: 0.24%;
  top: 27.06%;
  right: 34.6%;
  bottom: 72.61%;
  left: 65.16%;
}
.vector-icon132,
.vector-icon133,
.vector-icon134,
.vector-icon135,
.vector-icon136 {
  position: absolute;
  height: 0.22%;
  width: 0.26%;
  top: 27.54%;
  right: 34.29%;
  bottom: 72.24%;
  left: 65.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon133,
.vector-icon134,
.vector-icon135,
.vector-icon136 {
  height: 0.13%;
  width: 0.55%;
  top: 27.38%;
  right: 35.08%;
  bottom: 72.49%;
  left: 64.37%;
}
.vector-icon134,
.vector-icon135,
.vector-icon136 {
  height: 0.22%;
  width: 0.26%;
  top: 27.75%;
  right: 34.31%;
  bottom: 72.03%;
  left: 65.43%;
}
.vector-icon135,
.vector-icon136 {
  height: 0.34%;
  width: 0.23%;
  top: 27.16%;
  right: 33.95%;
  bottom: 72.5%;
  left: 65.82%;
}
.vector-icon136 {
  height: 1.31%;
  width: 0.74%;
  top: 27.3%;
  right: 34.48%;
  bottom: 71.39%;
  left: 64.78%;
}
.vector-icon137 {
  height: 1.36%;
  width: 0.51%;
  top: 27.62%;
  right: 33.9%;
  bottom: 71.02%;
  left: 65.6%;
}
.group-icon8,
.vector-icon137,
.vector-icon138 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon8 {
  height: 1.61%;
  width: 1.1%;
  top: 27.36%;
  right: 33.94%;
  bottom: 71.03%;
  left: 64.96%;
  opacity: 0.2;
}
.vector-icon138 {
  height: 0.54%;
  width: 0.4%;
  top: 28.84%;
  right: 34.61%;
  bottom: 70.62%;
  left: 64.99%;
}
.vector-icon139 {
  height: 1.69%;
  width: 1.83%;
  top: 25.1%;
  right: 33.67%;
  bottom: 73.21%;
  left: 64.5%;
}
.vector-icon139,
.vector-icon140,
.vector-icon141,
.vector-icon142 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon140 {
  height: 3.92%;
  width: 0.8%;
  top: 32.59%;
  right: 36.95%;
  bottom: 63.5%;
  left: 62.25%;
  opacity: 0.2;
}
.vector-icon141,
.vector-icon142 {
  height: 5.52%;
  width: 1.6%;
  top: 30.74%;
  right: 36.98%;
  bottom: 63.74%;
  left: 61.42%;
}
.vector-icon142 {
  height: 9.74%;
  width: 4.78%;
  top: 50.58%;
  right: 34.35%;
  bottom: 39.68%;
  left: 60.87%;
}
.vector-icon143,
.vector-icon144,
.vector-icon145,
.vector-icon146,
.vector-icon147 {
  position: absolute;
  height: 4.28%;
  width: 3.54%;
  top: 50.08%;
  right: 31.27%;
  bottom: 45.64%;
  left: 65.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon144,
.vector-icon145,
.vector-icon146,
.vector-icon147 {
  height: 1.63%;
  width: 0.62%;
  top: 49.62%;
  right: 34.86%;
  bottom: 48.75%;
  left: 64.53%;
}
.vector-icon145,
.vector-icon146,
.vector-icon147 {
  height: 2.3%;
  width: 2.05%;
  top: 54.07%;
  right: 34.41%;
  bottom: 43.63%;
  left: 63.54%;
}
.vector-icon146,
.vector-icon147 {
  height: 0.84%;
  width: 1.22%;
  top: 55.49%;
  right: 34.94%;
  bottom: 43.67%;
  left: 63.84%;
  opacity: 0.2;
}
.vector-icon147 {
  height: 0.73%;
  width: 0.91%;
  top: 54.37%;
  right: 34.39%;
  bottom: 44.9%;
  left: 64.7%;
}
.vector-icon148,
.vector-icon149,
.vector-icon150 {
  position: absolute;
  height: 4.43%;
  width: 0.86%;
  top: 51.06%;
  right: 34.4%;
  bottom: 44.52%;
  left: 64.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon149,
.vector-icon150 {
  height: 5.33%;
  width: 1.48%;
  top: 55%;
  right: 35.91%;
  bottom: 39.67%;
  left: 62.61%;
}
.vector-icon150 {
  opacity: 0.5;
}
.vector-icon151,
.vector-icon152,
.vector-icon153,
.vector-icon154,
.vector-icon155 {
  position: absolute;
  height: 5.01%;
  width: 0.97%;
  top: 55.03%;
  right: 35.71%;
  bottom: 39.96%;
  left: 63.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon152,
.vector-icon153,
.vector-icon154,
.vector-icon155 {
  height: 5.14%;
  width: 1.66%;
  top: 55.19%;
  right: 36.76%;
  bottom: 39.67%;
  left: 61.58%;
}
.vector-icon153,
.vector-icon154,
.vector-icon155 {
  height: 2.08%;
  width: 1.24%;
  top: 54.88%;
  right: 36.19%;
  bottom: 43.04%;
  left: 62.56%;
}
.vector-icon154,
.vector-icon155 {
  height: 2.73%;
  width: 0.98%;
  top: 53.66%;
  right: 36.32%;
  bottom: 43.61%;
  left: 62.69%;
}
.vector-icon155 {
  height: 0.86%;
  width: 0.4%;
  top: 54%;
  right: 36.63%;
  bottom: 45.13%;
  left: 62.97%;
  opacity: 0.2;
}
.vector-icon156,
.vector-icon157,
.vector-icon158,
.vector-icon159 {
  position: absolute;
  height: 1.9%;
  width: 0.38%;
  top: 51.23%;
  right: 36.24%;
  bottom: 46.87%;
  left: 63.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon157,
.vector-icon158,
.vector-icon159 {
  height: 3.39%;
  width: 1.28%;
  top: 51.29%;
  right: 36.14%;
  bottom: 45.32%;
  left: 62.58%;
}
.vector-icon158,
.vector-icon159 {
  height: 1.74%;
  width: 0.82%;
  top: 51.76%;
  right: 36.97%;
  bottom: 46.5%;
  left: 62.21%;
}
.vector-icon159 {
  height: 0.22%;
  width: 0.28%;
  top: 53.52%;
  right: 36.43%;
  bottom: 46.26%;
  left: 63.28%;
}
.vector-icon160,
.vector-icon161,
.vector-icon162,
.vector-icon163,
.vector-icon164 {
  position: absolute;
  height: 0.96%;
  width: 0.46%;
  top: 53%;
  right: 37.11%;
  bottom: 46.03%;
  left: 62.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon161,
.vector-icon162,
.vector-icon163,
.vector-icon164 {
  height: 0.25%;
  width: 0.08%;
  top: 52.63%;
  right: 36.73%;
  bottom: 47.11%;
  left: 63.19%;
}
.vector-icon162,
.vector-icon163,
.vector-icon164 {
  top: 52.52%;
  right: 36.33%;
  bottom: 47.23%;
  left: 63.58%;
}
.vector-icon163,
.vector-icon164 {
  height: 0.64%;
  width: 0.21%;
  top: 52.73%;
  right: 36.28%;
  bottom: 46.63%;
  left: 63.52%;
}
.vector-icon164 {
  height: 0.28%;
  width: 0.18%;
  top: 52.27%;
  right: 36.73%;
  bottom: 47.45%;
  left: 63.09%;
}
.vector-icon165 {
  height: 0.24%;
  width: 0.19%;
  top: 52.1%;
  right: 36.19%;
  bottom: 47.66%;
  left: 63.62%;
}
.vector-icon165,
.vector-icon166,
.vector-icon167,
.vector-icon168 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon166 {
  height: 1.33%;
  width: 1.1%;
  top: 53.35%;
  right: 36.14%;
  bottom: 45.32%;
  left: 62.76%;
  opacity: 0.2;
}
.vector-icon167,
.vector-icon168 {
  height: 1.48%;
  width: 1.6%;
  top: 50.72%;
  right: 36.22%;
  bottom: 47.8%;
  left: 62.18%;
}
.vector-icon168 {
  height: 2.74%;
  width: 0.66%;
  top: 57.01%;
  right: 37.63%;
  bottom: 40.25%;
  left: 61.71%;
  opacity: 0.2;
}
.vector-icon169,
.vector-icon170,
.vector-icon171 {
  position: absolute;
  height: 3.68%;
  width: 1.03%;
  top: 55.73%;
  right: 37.7%;
  bottom: 40.59%;
  left: 61.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon170,
.vector-icon171 {
  height: 6.19%;
  width: 2.98%;
  top: 39.62%;
  right: 25.07%;
  bottom: 54.19%;
  left: 71.95%;
}
.vector-icon171 {
  opacity: 0.1;
}
.vector-icon172,
.vector-icon173,
.vector-icon174 {
  position: absolute;
  height: 4.18%;
  width: 1.17%;
  top: 35.95%;
  right: 26.65%;
  bottom: 59.88%;
  left: 72.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon173,
.vector-icon174 {
  height: 4.21%;
  width: 1.23%;
  right: 26.66%;
  bottom: 59.84%;
  left: 72.11%;
}
.vector-icon174 {
  height: 0.78%;
  width: 0.39%;
  top: 36.1%;
  right: 27.53%;
  bottom: 63.13%;
  left: 72.08%;
}
.vector-icon175,
.vector-icon176,
.vector-icon177 {
  position: absolute;
  bottom: 63.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon175 {
  height: 0.77%;
  width: 0.38%;
  top: 35.89%;
  right: 27.52%;
  left: 72.1%;
  opacity: 0.5;
}
.vector-icon176,
.vector-icon177 {
  height: 0.36%;
  width: 0.18%;
  top: 36.31%;
  right: 27.65%;
  left: 72.17%;
}
.vector-icon177 {
  height: 0.19%;
  width: 0.09%;
  top: 36.39%;
  right: 27.69%;
  bottom: 63.42%;
  left: 72.21%;
  opacity: 0.3;
}
.freepik-group-inject-129-icon,
.vector-icon178,
.vector-icon179,
.vector-icon180 {
  position: absolute;
  height: 2.4%;
  width: 0.88%;
  top: 38.02%;
  right: 27.21%;
  bottom: 59.59%;
  left: 71.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.freepik-group-inject-129-icon,
.vector-icon179,
.vector-icon180 {
  height: 47.31%;
  width: 8.23%;
  top: 33.59%;
  right: 17.85%;
  bottom: 19.1%;
  left: 73.92%;
}
.vector-icon179,
.vector-icon180 {
  height: 1.41%;
  width: 0.48%;
  top: 35.2%;
  right: 23.85%;
  bottom: 63.38%;
  left: 75.67%;
}
.vector-icon180 {
  height: 0.49%;
  width: 0.54%;
  top: 78.71%;
  right: 25.06%;
  bottom: 20.8%;
  left: 74.41%;
}
.vector-icon181,
.vector-icon182,
.vector-icon183,
.vector-icon184,
.vector-icon185 {
  position: absolute;
  height: 0.89%;
  width: 0.31%;
  top: 78.29%;
  right: 25.05%;
  bottom: 20.82%;
  left: 74.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon182,
.vector-icon183,
.vector-icon184,
.vector-icon185 {
  height: 2.13%;
  width: 2.4%;
  top: 78.84%;
  right: 23.88%;
  bottom: 19.02%;
  left: 73.72%;
}
.vector-icon183,
.vector-icon184,
.vector-icon185 {
  height: 0.57%;
  width: 0.47%;
  top: 76.46%;
  right: 18.61%;
  bottom: 22.97%;
  left: 80.92%;
}
.vector-icon184,
.vector-icon185 {
  height: 0.49%;
  width: 0.44%;
  top: 76.05%;
  bottom: 23.45%;
  left: 80.95%;
}
.vector-icon185 {
  height: 3.89%;
  width: 1.84%;
  top: 75.13%;
  right: 17.33%;
  bottom: 20.98%;
  left: 80.82%;
}
.vector-icon186 {
  height: 3.74%;
  width: 3.2%;
  top: 45.74%;
  right: 22.24%;
  bottom: 50.52%;
  left: 74.56%;
}
.vector-icon186,
.vector-icon187,
.vector-icon188,
.vector-icon189 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon187 {
  height: 3.74%;
  width: 3.2%;
  top: 45.74%;
  right: 22.24%;
  bottom: 50.52%;
  left: 74.56%;
  opacity: 0.1;
}
.vector-icon188,
.vector-icon189 {
  height: 4.04%;
  width: 1.07%;
  top: 35.91%;
  right: 26.6%;
  bottom: 60.05%;
  left: 72.33%;
}
.vector-icon189 {
  opacity: 0.7;
}
.vector-icon190,
.vector-icon191,
.vector-icon192,
.vector-icon193 {
  position: absolute;
  height: 1.97%;
  width: 2.04%;
  top: 32.89%;
  right: 23.67%;
  bottom: 65.15%;
  left: 74.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon191,
.vector-icon192,
.vector-icon193 {
  height: 0.67%;
  width: 1.28%;
  top: 76.75%;
  right: 23.8%;
  bottom: 22.58%;
  left: 74.92%;
}
.vector-icon192,
.vector-icon193 {
  height: 1.72%;
  width: 1.3%;
  top: 73.31%;
  right: 18.12%;
  bottom: 24.97%;
  left: 80.58%;
}
.vector-icon193 {
  height: 2.98%;
  width: 0.7%;
  top: 45.74%;
  right: 22.24%;
  bottom: 51.28%;
  left: 77.06%;
  opacity: 0.2;
}
.quiby-register {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 713px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
