@page
@model IndexModel
@{
    ViewData["Title"] = "Popular";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400&display=swap" />
</head>

<body class="bg-gray-100">
    <div class="  relative  w-full m-auto">
        <div class=" h-36 bg-stone-300 w-full"></div>
        <div class="absolute top-[12px]">
            <div class="quiby-before-login flex lg:flex-row flex-col  gap-3 p-2 lg:w-10/12 w-full m-auto ">
                <div class="group-parent  lg:w-1/4 ">
                    <div class="group-container">
                        <div class="rectangle-parent4  ">
                        
                            <div class="border border-gray p-6  gap-2 shadow rounded-2xl bg-white ">
                                <div class="books-parent  ">
                                <img class="group-child3" alt="" src="./public/ellipse-46@2x.png" />
                                </div>
                                <div class="visiting-travel-parent  p-1 ">
                            
                                    <div class="text-center text-black text-2xl font-semibold font-['Outfit']">Synapse Payment</div>
                                </div>
                                <div class="business-parent  ">

                                    <div class="text-center w-48 text-zinc-500 text-sm font-light font-['Outfit']">An inclusive online community fostering diverse connections and shared interests.</div>
                                </div>
                                            
                                <div class=" flex  gap-2 py-2  border-b border-gray-200">
                <img class="group-icon" alt="" src="./public/group-394.svg" />                        
            
                <button class="w-full sm:w-18 text-sm h-10 px-3 py-2.5 rounded-3xl text-sky-600 border border-sky-600  mb-2 sm:mb-0">Joined</button>
                                </div>

                    
            
                        
                                <div class="health-parent  ">
                                
                                    <div class="text-black text-base font-medium font-['Outfit']">Add Community</div>
                                </div>
                                            <div class="private-policy-parent flex gap-2">
                                <img class="edit-icon" alt="" src="./public/edit.svg" />
                                    <a class="text-sky-600" asp-area="" asp-page="/Privacy">Add Discription</a>

                                </div>
                                <div class="science-parent flex gap-2 ">
                                
                                    <img class="calendar-2-icon" alt="" src="./public/calendar2.svg" />

                <div class="created-date">Created Date</div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="lg:w-10/12 gap-3 flex lg:flex-row flex-col mt-24   ">
                    <div class="flex justify-center center-group lg:w-3/4  lg:p-0  flex-col gap-3 mt-10  ">
                        <div class="rectangle-parent flex flex-col  rounded-2xl  bg-white px-3 ">
                            <div class="flex gap-4 border-b border-gray-200 py-3">
                                <img class="group-inner" alt="" src="./public/ellipse-6@2x.png" />
                                <textarea id="review" class="group-item w-full text-lg" placeholder="what do you want to ask"></textarea>
                            </div>
                            @* <div class="line-div"></div> *@
                            <div class="submit-wrapper w-full flex justify-end py-3">
                                <button class="submit px-4 py-2 bg-gray-200 rounded text-gray-400">Submit</button>
                            </div>
                        </div>
                        @**@
                    
                       
                       <div class=" bg-sky-600 w-8/4 bg-opacity-20 rounded-lg  ">
                    <div class="rectangle-group  flex justify-between h-44 p-6 gap-3 ">
                        <div class="">

                            <div class="rounded-full bg-white p-4">
                                <img class="edit-icon w-8 h-8" alt="" src="./public/edit.svg" />
                            </div>

                        </div>
                        <div class="mt-4">
                            <div class="flex  w-full ">

                                <div class=" flex flex-col items-center sm:flex-row">
                                    <div class="time-to-make-container text-center mb-4 sm:mb-0 sm:mr-4">
                                        <p class="text-black text-xl font-normal font-['Outfit']">Time to make your</p>
                                        <p class="text-black text-xl font-normal font-['Outfit']">first post!</p>

                                        <div
                                            class="w-58 h-10 px-5 py-2.5 bg-sky-600 rounded-3xl justify-center items-center gap-2.5 inline-flex">
                                            <div class=" text-center text-white text-base font-normal justify-center">
                                                Make your first post!</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div> 
                                 
                    </div>
                    <div class="lg:w-40 mt-10  ">
                            <div class="group-parent1 ">
                                <div class="  text-gray-400 text-sm font-normal ">Total Member</div>
                                <div
                                    class="rectangle-parent5 border border-gray p-2 flex flex-col gap-4 shadow rounded-2xl bg-white">
                                    <div class="communities-parent flex gap-2 py-2  border-b border-gray-200">
                                            <img class="people-icon" alt="" src="./public/people.svg" />
                                        <a href="QuibyCommunities/QuibyCommunities.html" class="text-black text-sm font-medium">10 member</a>

                                    </div>

                        
                                    <div class="private-policy-parent flex gap-2">
                                        <img class="people-icon" alt="" src="./public/people.svg" />
                                        <a class="text-emerald-500 text-sm font-medium" asp-area="" asp-page="">5 member</a>

                                    </div>
                                </div>


                            </div>
                            <div class="group-parent2">
                                <div class=" text-gray-400 text-sm font-normal">Moderator</div>
                                <div
                                    class="rectangle-parent5  p-2 flex flex-col gap-4 shadow rounded-2xl bg-white">
                                    <div class="communities-parent flex gap-2 py-2  border-b border-gray-200">
                                        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="message-2">
                                        <path id="Vector" d="M5.66699 7.5H10.3337" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path id="Vector_2" d="M4.66634 12.7868H7.33301L10.2997 14.7601C10.7397 15.0535 11.333 14.7401 11.333 14.2068V12.7868C13.333 12.7868 14.6663 11.4535 14.6663 9.45345V5.45345C14.6663 3.45345 13.333 2.12012 11.333 2.12012H4.66634C2.66634 2.12012 1.33301 3.45345 1.33301 5.45345V9.45345C1.33301 11.4535 2.66634 12.7868 4.66634 12.7868Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </g>
                                        </svg>
                                        <a href="QuibyCommunities/QuibyCommunities.html" class="books">Mod messages</a>

                                    </div>

                        
                                    <div class="private-policy-parent flex gap-2">
                                        <img class="add-circle-icon" alt="" src="./public/addcircle.svg" />
                                        <a class="text-sky-600" asp-area="" asp-page="/Privacy">Add Moderator</a>

                                    </div>
                                </div>


                            </div>
                            
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
</body>
</html>

