.header-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  width: 1440px;
  height: 70px;
}
.header-item,
.notification-icon {
  position: absolute;
  height: 44.19%;
  width: 6.18%;
  top: 28.57%;
  right: 82.71%;
  bottom: 27.24%;
  left: 11.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification-icon {
  height: 70%;
  width: 17.03%;
  top: 15%;
  right: 82.97%;
  bottom: 15%;
  left: 0;
}
.group-child,
.group-item {
  position: absolute;
  left: 65.84px;
  border-radius: 50%;
}
.group-child {
  top: 0;
  width: 39.9px;
  height: 40px;
  object-fit: cover;
}
.group-item {
  top: 28px;
  background-color: var(--color-mediumseagreen);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 6.98px;
  height: 7px;
}
.johnson,
.online {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 59.85px;
}
.online {
  top: 20px;
  left: 24.94px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  color: var(--color-gray-100);
  text-align: right;
  width: 33.92px;
}
.ellipse-parent,
.johnson-parent {
  position: absolute;
  top: 3px;
  left: 0;
  width: 59.85px;
  height: 35px;
}
.ellipse-parent {
  top: 0;
  left: 58.26px;
  width: 105.74px;
  height: 40px;
}
.notification-parent {
  position: absolute;
  height: 57.14%;
  width: 11.39%;
  top: 21.43%;
  right: 11.11%;
  bottom: 21.43%;
  left: 77.5%;
  color: var(--color-black);
}
.popular {
  position: absolute;
  top: 0;
  left: 28px;
  font-weight: 300;
}
.ranking-icon {
  position: absolute;
  height: 100%;
  width: 23.81%;
  top: 0;
  right: 76.19%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-icon,
.popular-parent {
  position: absolute;
  top: 25px;
  left: 540px;
  width: 84px;
  height: 20px;
}
.home-icon {
  height: 100%;
  width: 28.17%;
  top: 0;
  right: 71.83%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chart-icon,
.home-parent {
  position: absolute;
  top: 25px;
  left: 445px;
  width: 71px;
  height: 20px;
}
.chart-icon {
  height: 100%;
  width: 43.48%;
  top: 0;
  right: 56.52%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.all-parent,
.group-inner {
  position: absolute;
  top: 25px;
  left: 648px;
  width: 46px;
  height: 20px;
}
.group-inner {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-100);
  width: 265px;
  height: 40px;
}
.search-quibby {
  position: absolute;
  top: 0;
  left: 29px;
  font-weight: 200;
}
.search-normal-icon {
  position: absolute;
  height: 95%;
  width: 14.29%;
  top: 5%;
  right: 85.71%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-quibby-parent {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 133px;
  height: 20px;
}
.header,
.rectangle-parent {
  position: absolute;
  top: 15px;
  left: 730px;
  width: 265px;
  height: 40px;
  color: var(--color-lightgray);
}
.header {
  top: 0;
  left: 0;
  width: 1440px;
  height: 70px;
  color: var(--color-gray-100);
}
.group-child1,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 550px;
  height: 128px;
}
.group-child1 {
  height: 143px;
}
.all-group,
.popular-group {
  position: absolute;
  top: 103px;
  left: 20px;
  width: 84px;
  height: 20px;
}
.all-group {
  left: 128px;
  width: 46px;
}
.what-do-you {
  position: absolute;
  top: 33px;
  left: 82px;
  font-size: var(--font-size-lg);
  font-weight: 300;
  color: var(--color-lightgray);
}
.ellipse-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.line-div {
  position: absolute;
  top: 82.5px;
  left: 19.5px;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 511px;
  height: 1px;
}
.submit {
  position: relative;
}
.submit-wrapper {
  position: absolute;
  top: 93px;
  left: 420px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px var(--padding-11xl);
}
.rectangle-group {
  position: absolute;
  top: 230px;
  left: 445px;
  width: 550px;
  height: 143px;
  color: var(--color-gray-100);
}
.quiby-community-admin1-child {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #c4c4c4;
  width: 1440px;
  height: 140px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 44px 4px rgba(0, 0, 0, 0.05);
  width: 259px;
  height: 501px;
}
.calendar-2-icon {
  position: absolute;
  height: 100%;
  width: 15.63%;
  top: 0;
  right: 84.38%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.created-date {
  position: absolute;
  top: 0;
  left: 30px;
}
.calendar-2-parent {
  position: absolute;
  height: 3.99%;
  width: 49.42%;
  top: 90.02%;
  right: 42.86%;
  bottom: 5.99%;
  left: 7.72%;
  color: var(--color-gray-200);
}
.group-child3 {
  position: absolute;
  top: 39px;
  left: 60px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}
.synapse-payment {
  position: absolute;
  top: 199px;
  left: 36px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
}
.joined-wrapper {
  position: absolute;
  top: 0;
  left: 44px;
  border-radius: 90px;
  background-color: var(--color-white);
  border: 1px solid var(--color-steelblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px var(--padding-11xl);
}
.group-parent {
  position: absolute;
  top: 297px;
  left: 57px;
  width: 152px;
  height: 34px;
  text-align: center;
  color: var(--color-steelblue-100);
}
.group-child4 {
  position: absolute;
  top: 350.5px;
  left: 19.5px;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 220px;
  height: 1px;
}
.about-community {
  position: absolute;
  top: 371px;
  left: 20px;
  font-weight: 500;
}
.edit-icon {
  position: relative;
  width: 18px;
  height: 18px;
}
.edit-parent {
  position: absolute;
  top: 411px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  color: var(--color-steelblue-100);
}
.an-inclusive-online {
  position: absolute;
  top: 233px;
  left: 30px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: #898989;
  text-align: center;
  display: inline-block;
  width: 199px;
}
.group-child5,
.rectangle-container {
  position: absolute;
  top: 91px;
  left: 166px;
  width: 259px;
  height: 501px;
}
.group-child5 {
  top: 28px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 44px 4px rgba(0, 0, 0, 0.05);
  width: 265px;
  height: 116px;
}
.member,
.total-member {
  position: absolute;
  top: 0;
  left: 0;
}
.member {
  left: 28px;
  font-weight: 500;
}
.arrow-right-icon,
.profile-2user-icon {
  position: absolute;
  height: 100%;
  width: 8.37%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 91.63%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.profile-2user-icon {
  right: 91.63%;
  left: 0;
}
.member-online-parent,
.member-parent {
  position: absolute;
  top: 48px;
  left: 20px;
  width: 215px;
  height: 18px;
  color: var(--color-black);
}
.member-online-parent {
  top: 106px;
  color: var(--color-mediumseagreen);
}
.group-child6 {
  position: absolute;
  top: 85.5px;
  left: 49.5px;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 186px;
  height: 1px;
}
.group-div {
  position: absolute;
  top: 230px;
  left: 1015px;
  width: 265px;
  height: 144px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
}
.group-child7,
.group-child8 {
  position: absolute;
  border-radius: var(--br-3xs);
  box-shadow: 0 4px 44px 4px rgba(0, 0, 0, 0.05);
}
.group-child7 {
  top: 28px;
  left: 0;
  background-color: var(--color-white);
  width: 265px;
  height: 113px;
}
.group-child8 {
  top: 38px;
  left: 10px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 245px;
  height: 45px;
}
.ellipse-div,
.mod-messages {
  position: absolute;
  top: 0;
  left: 28px;
}
.ellipse-div {
  left: 0;
  border-radius: 50%;
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.div {
  position: absolute;
  top: 2px;
  left: 6px;
  font-weight: 500;
}
.ellipse-group {
  position: absolute;
  top: 0;
  left: 125px;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: var(--color-white);
}
.message-text-icon {
  position: absolute;
  height: 100%;
  width: 12.59%;
  top: 0;
  right: 87.41%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-wrapper,
.mod-messages-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 143px;
  height: 18px;
}
.group-wrapper {
  top: 52px;
  left: 61px;
}
.moderator {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-gray-200);
}
.add-circle-icon,
.add-moderator {
  position: absolute;
  top: 1px;
  left: 0;
}
.add-circle-icon {
  height: 100%;
  width: 15.87%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.add-moderator-parent,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 126px;
  height: 20px;
}
.group-container {
  top: 102px;
  left: 70px;
  color: #0190cd;
}
.rectangle-parent1 {
  position: absolute;
  top: 395px;
  left: 1015px;
  width: 265px;
  height: 141px;
  font-size: var(--font-size-sm);
}
.group-child9,
.pm {
  position: absolute;
  left: 0;
}
.group-child9 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 550px;
  height: 330px;
}
.pm {
  top: 25px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.lisa-morrison-parent {
  position: absolute;
  top: 24px;
  left: 78px;
  width: 113px;
  height: 40px;
}
.mohammed-aziz-owns {
  position: absolute;
  top: 83px;
  left: 78px;
  line-height: 24px;
  font-weight: 200;
  display: inline-block;
  width: 452px;
}
.group-child11 {
  position: absolute;
  top: 26px;
  left: 484px;
  width: 36px;
  height: 36px;
}
.vector-icon {
  position: relative;
  width: 11.56px;
  height: 5.73px;
}
.up {
  position: relative;
  line-height: 27px;
  font-weight: 300;
}
.vector-group,
.vector-parent {
  position: absolute;
  top: 15px;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-sm);
  gap: var(--gap-5xs);
}
.vector-group {
  left: 70px;
}
.message-2-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.message-2-wrapper {
  top: 15px;
  left: 158px;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  height: 29px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-sm);
}
.group-child12,
.message-2-wrapper,
.send-2-parent {
  position: absolute;
  box-sizing: border-box;
}
.send-2-parent {
  top: 15px;
  left: 358px;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  height: 29px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-sm);
  gap: var(--gap-5xs);
}
.group-child12 {
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro);
  width: 443px;
  height: 1px;
}
.frame-parent {
  position: absolute;
  top: 266px;
  left: 78px;
  width: 442px;
  height: 44px;
  font-size: var(--font-size-xs);
}
.group-child13,
.rectangle-parent2 {
  position: absolute;
  top: 383px;
  left: 445px;
  width: 550px;
  height: 330px;
}
.group-child13 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  height: 613px;
}
.rectangle-icon {
  position: absolute;
  top: 84px;
  left: 78px;
  border-radius: var(--br-8xs);
  width: 442px;
  height: 262px;
  object-fit: cover;
}
.mohammed-aziz-owns1 {
  position: absolute;
  top: 366px;
  left: 78px;
  line-height: 24px;
  font-weight: 200;
  display: inline-block;
  width: 452px;
}
.frame-group {
  position: absolute;
  top: 549px;
  left: 78px;
  width: 442px;
  height: 44px;
  font-size: var(--font-size-xs);
}
.group-child17,
.rectangle-parent3 {
  position: absolute;
  top: 723px;
  left: 445px;
  width: 550px;
  height: 613px;
}
.group-child17 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 44px 4px rgba(0, 0, 0, 0.05);
  width: 266px;
  height: 222px;
}
.community-rules {
  position: absolute;
  top: 20px;
  left: 45px;
  font-weight: 600;
}
.tick-circle-icon {
  position: absolute;
  height: 10.81%;
  width: 9.02%;
  top: 9.01%;
  right: 85.34%;
  bottom: 80.18%;
  left: 5.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.be-respectful {
  margin-bottom: 0;
}
.content-policy {
  text-decoration: underline;
}
.be-respectful-do-not-post-ai-g {
  margin: 0;
  padding-left: 19px;
}
.be-respectful-do-container {
  position: absolute;
  top: 63px;
  left: 15px;
  font-size: var(--font-inherit);
  line-height: 40px;
  font-weight: 300;
  font-family: var(--font-inherit);
}
.rectangle-parent4 {
  position: absolute;
  top: 546px;
  left: 1014px;
  width: 266px;
  height: 222px;
  font-size: var(--font-size-lg);
}
.quiby-community-admin1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1393px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
