.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 913px;
  margin: 0 auto;
  background: #f7f7f7;
  overflow: hidden;
}
.rectangle {
  position: relative;
  width: 1440px;
  height: 70px;
  margin: 0 0 0 0;
  background: #ffffff;
  z-index: 1;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
}
.rectangle-1 {
  position: absolute;
  width: 265px;
  height: 40px;
  top: 15px;
  left: 730px;
  background: #f7f7f7;
  z-index: 21;
  border-radius: 5px;
}
.search-quibby {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 10px;
  left: 39px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #cbccce;
  font-size: 16px;
  font-weight: 200;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.search-normal {
  position: absolute;
  width: 7.17%;
  height: 47.5%;
  top: 27.5%;
  left: 3.77%;
  background: url(./assets/images/896448ef-6568-4c8b-96c1-d8ce3ce55c04.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
  border-radius: 130px;
}
.ellipse {
  position: absolute;
  width: 39.9px;
  height: 40px;
  top: 15px;
  left: 1240.099px;
  background: url(./assets/images/d53b0308-9b23-4ec7-ac7c-3e6ea36a9a90.png)
    no-repeat center;
  background-size: cover;
  z-index: 6;
}
.johnson {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 18px;
  left: 1174.264px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.group {
  position: absolute;
  width: 6.18%;
  height: 44.19%;
  top: 28.57%;
  left: 11.11%;
  background: url(./assets/images/ecba9cdd-dda8-41ad-a752-dd584f0fd973.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 2;
}
.notification {
  position: absolute;
  width: 1.94%;
  height: 40%;
  top: 30%;
  left: 77.5%;
  background: url(./assets/images/9b6d2df8-6763-4b1f-95b6-390b43bf53f9.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}
.popular {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 25px;
  left: 568px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.home {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 25px;
  left: 473px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.ranking {
  position: absolute;
  width: 1.39%;
  height: 28.57%;
  top: 35.71%;
  left: 37.5%;
  background: url(./assets/images/0d0195c3-0288-4908-a13a-257928f60f91.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.home-2 {
  position: absolute;
  width: 1.39%;
  height: 28.57%;
  top: 35.71%;
  left: 30.9%;
  background: url(./assets/images/f41589c0-493a-4a27-99da-a0d063cbaa2d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.chart {
  position: absolute;
  width: 1.39%;
  height: 28.57%;
  top: 35.71%;
  left: 45%;
  background: url(./assets/images/69e89779-945b-47c1-841a-f3263ffd0a1c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}
.all {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 25px;
  left: 676px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.online {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: absolute;
  width: 33.915px;
  height: 15px;
  top: 38px;
  left: 1199.201px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 200;
  line-height: 15px;
  text-align: right;
  white-space: nowrap;
  z-index: 10;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}
.ellipse-3 {
  position: absolute;
  width: 6.983px;
  height: 7px;
  top: 43px;
  left: 1240.099px;
  background: url(./assets/images/0d6ba9f5-a66a-455e-95ab-0f48762c933d.png)
    no-repeat center;
  background-size: cover;
  border: 1px solid #ffffff;
  z-index: 7;
}
.auto-layer-row-ae {
  position: relative;
  width: 1120px;
  height: 709px;
  margin: 14px 0 0 160px;
  z-index: 59;
}
.rectangle-4 {
  position: absolute;
  width: 360px;
  height: 709px;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 59;
  border-radius: 10px;
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.05);
}
.ellipse-5 {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 41px 0 0 90px;
  background: url(./assets/images/445ccd78-9ddf-405b-8417-37433bad8d14.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  border-radius: 50%;
}
.robert-maxwell {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 170px;
  height: 30px;
  margin: 20px 0 0 95px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 69;
  text-shadow: 0 4px 44px rgba(0, 0, 0, 0.05);
}
.auto-layer-row-c {
  position: relative;
  width: 176px;
  height: 18px;
  margin: 10px 0 0 92px;
  z-index: 79;
}
.follower {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 18px;
  top: 0;
  left: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.64px;
  text-align: center;
  white-space: nowrap;
  z-index: 77;
}
.following {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 79px;
  height: 18px;
  top: 0;
  left: 97px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.64px;
  text-align: center;
  white-space: nowrap;
  z-index: 78;
}
.ellipse-6 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 7px;
  left: 81px;
  background: url(./assets/images/5d07fb90-61f6-4954-aee2-63ec2a35a916.png)
    no-repeat center;
  background-size: cover;
  z-index: 79;
  border-radius: 50%;
}
.auto-layer-row-ca {
  position: relative;
  width: 297px;
  height: 30px;
  margin: 20px 0 0 30px;
  z-index: 63;
}
.group-7 {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 0;
  left: 243px;
  background: url(./assets/images/558a6a1e-24e6-4445-bb71-510e83126b49.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
  border-radius: 50px;
}
.nsfw-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 6px;
  left: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.info-circle {
  position: absolute;
  width: 6.06%;
  height: 60%;
  top: 23.33%;
  left: 37.04%;
  background: url(./assets/images/cc4ac0f5-11ba-4747-8298-63b791edcae2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 62;
}
.auto-layer-row-ac {
  position: relative;
  width: 297px;
  height: 30px;
  margin: 20px 0 0 30px;
  z-index: 67;
}
.group-8 {
  position: absolute;
  width: 54px;
  height: 30px;
  top: 0;
  left: 243px;
  background: url(./assets/images/2ad56df7-6369-42a8-b219-ef506d484f57.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
  border-radius: 50px;
}
.blur-nsfw-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 6px;
  left: 0;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.info-circle-9 {
  position: absolute;
  width: 6.06%;
  height: 60%;
  top: 23.33%;
  left: 49.49%;
  background: url(./assets/images/cc585115-4076-40f1-8ef2-278fcbf3d19e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 66;
}
.line {
  position: relative;
  width: 300px;
  margin: 20px 0 0 30px;
  background: url(./assets/images/0017d414-5a57-4dfc-ab02-51cda2d14d58.png)
    no-repeat center;
  background-size: cover;
  border: 1px solid #e0e0e0;
  z-index: 70;
}
.credentials-highlights {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 170px;
  height: 20px;
  margin: 20px 0 0 30px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 72;
  text-shadow: 0 4px 44px rgba(0, 0, 0, 0.05);
}
.auto-layer-row-ebd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 228px;
  height: 20px;
  margin: 20px 0 0 30px;
  z-index: 82;
}
.add-circle {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/d54694da-35bd-4561-a8bf-321fd768db28.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 82;
}
.add-employment-credential {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 198px;
  height: 20px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #018fd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 81;
}
.auto-layer-row-ddf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 209px;
  height: 20px;
  margin: 20px 0 0 30px;
  z-index: 85;
}
.add-circle-a {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/d0029ea7-7f6d-4516-88bc-21b28bcae465.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 85;
}
.add-education-credential {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #018fd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.auto-layer-row-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 200px;
  height: 20px;
  margin: 20px 0 0 30px;
  z-index: 88;
}
.add-circle-b {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/cc6895ba-877d-4d7f-bdf1-68fd615ed022.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 88;
}
.add-location-credential {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #018fd0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.line-c {
  position: relative;
  width: 270px;
  height: 0px;
  margin: 20px 0 0 60px;
  background: url(./assets/images/e68d09bf-e288-4abb-a71e-11d28b2986ba.png)
    no-repeat center;
  background-size: cover;
  border: 1px solid #e0e0e0;
  z-index: 71;
}
.auto-layer-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 146px;
  height: 20px;
  margin: 20px 0 0 30px;
  z-index: 91;
}
.clock {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/ade5a97c-453c-4c48-8dc7-7574b508a263.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 91;
}
.active-in-space {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}
.auto-layer-row-a-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 205px;
  height: 20px;
  margin: 20px 0 0 30px;
  z-index: 75;
}
.calendar {
  flex-shrink: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background: url(./assets/images/2aed90d8-84ad-4599-946f-df2fd050fd61.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 74;
}
.joined-december {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 16px;
  left: 420px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}
.activity {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 16px;
  left: 552px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.replies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 16px;
  left: 713px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}
.your-posts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 16px;
  left: 850px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}
.following-e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 16px;
  left: 1010px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.ellipse-f {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 18px;
  left: 611px;
  background: url(./assets/images/b204e6f2-7eea-4fae-b5f8-188ff34513b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
  border-radius: 50%;
}
.number-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 18px;
  left: 616px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.line-10 {
  position: absolute;
  width: 740px;
  top: 46px;
  left: 380px;
  background: url(./assets/images/0ed83f93-4329-40ab-b9de-0c7b360d6e05.png)
    no-repeat center;
  background-size: cover;
  border: 1px solid #d9d9d9;
  z-index: 35;
}
.line-11 {
  position: absolute;
  width: 132px;
  height: 2px;
  top: 45px;
  left: 379px;
  background: url(./assets/images/6bae5102-1fac-42df-8a16-699f09bbfad7.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.not-found-outline {
  position: absolute;
  width: 435px;
  height: 226px;
  top: 50%;
  left: 50%;
  transform: translate(-6.21%, -105.53%);
  z-index: 39;
  overflow: hidden;
}
.layer {
  position: relative;
  width: 433.934px;
  height: 203.445px;
  margin: 22.09px 0 0 -0.08px;
  z-index: 40;
}
.outline-iii {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 41;
}
.not-found {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 42;
}
.man {
  position: absolute;
  width: 67.79%;
  height: 100%;
  top: 0;
  left: 11.93%;
  z-index: 44;
}
.head {
  position: absolute;
  width: 30.08%;
  height: 52.14%;
  top: 0;
  left: 37.06%;
  background: url(./assets/images/4fc29b11-a922-41d8-8fed-66345161d474.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 50;
}
.hoodie {
  position: absolute;
  width: 82.55%;
  height: 60.77%;
  top: 39.23%;
  left: 8.72%;
  background: url(./assets/images/9a70851f-a58b-45d3-bcf1-537987756562.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 48;
}
.hands {
  position: absolute;
  width: 100%;
  height: 18.08%;
  top: 40.54%;
  left: 0%;
  z-index: 45;
}
.hand-ii {
  position: absolute;
  width: 15.35%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/a8ae8678-133d-46a5-aeb3-0d369e77f2ed.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 46;
}
.hand {
  position: absolute;
  width: 15.35%;
  height: 98.21%;
  top: 0;
  left: 84.65%;
  background: url(./assets/images/7efe2fc1-3c58-4a06-baac-ecfba707f029.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 47;
}
.neck {
  position: absolute;
  width: 15.36%;
  height: 20.64%;
  top: 45%;
  left: 40.16%;
  background: url(./assets/images/d31e72da-819a-48d0-b245-2a960a1801c0.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 49;
}
.folders-bg {
  position: absolute;
  width: 12.84%;
  height: 36.72%;
  top: 62.98%;
  left: 11.34%;
  background: url(./assets/images/328a2efd-fe2e-4a07-8525-937d4b892293.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 43;
}
.pile-of-files {
  position: absolute;
  width: 22.8%;
  height: 32.26%;
  top: 67.57%;
  left: 66%;
  background: url(./assets/images/03176743-5724-4196-9725-d44ebeba5e68.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 52;
}
.folders {
  position: absolute;
  width: 20.37%;
  height: 18.49%;
  top: 80.97%;
  left: 49.61%;
  background: url(./assets/images/e7bd65bb-25e8-47a2-b1b6-f4d135b3218b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 51;
}
.line-12 {
  position: absolute;
  width: 100.13%;
  height: 0.63%;
  top: 99.29%;
  left: 0.02%;
  background: url(./assets/images/daae46a1-e422-473b-a23a-42d136e7094c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 53;
}
.you-havent-shared {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 372px;
  left: 562px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #8d8d8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 213px;
  height: 40px;
  top: 427px;
  left: 644px;
  padding: 17px 98px 17px 98px;
  background: #0ab46b;
  z-index: 55;
  overflow: hidden;
  border-radius: 50px;
}
.answer-question {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 23px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.communities {
  display: block;
  position: relative;
  height: 18px;
  margin: 10px 0 0 160px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.rectangle-13 {
  position: relative;
  width: 360px;
  height: 141px;
  margin: 10px 0 0 160px;
  background: #ffffff;
  z-index: 95;
  overflow: visible auto;
  border-radius: 10px;
  box-shadow: 0 4px 44px 0 rgba(0, 0, 0, 0.05);
}
.auto-layer-row-fe {
  position: relative;
  width: 221px;
  height: 41px;
  margin: 20px 0 0 30px;
  z-index: 99;
}
.ellipse-14 {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 0;
  left: 0;
  background: url(./assets/images/bb59aa96-5323-42b4-b4c5-ea2b49eae7a9.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
  border-radius: 50%;
}
.robert-peterson-community {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 0;
  left: 47px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 97;
}
.admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 23px;
  left: 47px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 98;
}
.rectangle-15 {
  position: relative;
  width: 300px;
  height: 40px;
  margin: 20px 0 0 30px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  z-index: 101;
  border-radius: 135px;
}
.add-circle-16 {
  position: absolute;
  width: 6.67%;
  height: 50%;
  top: 25%;
  left: 68%;
  background: url(./assets/images/1ab8632a-c9eb-4c99-9bec-61face43304c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 104;
}
.create-community {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  top: 11px;
  left: 76px;
  font-family: Outfit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
